@import url('https://fonts.googleapis.com/css?family=Markazi+Text');
body {
    background-color: #282e33;
    color: #eff2e2;
    font-family: 'Markazi Text', serif;
}

.specialWord, a {
    color: #f19d94;
}

.map {
    color: #d0b6a4;
}

.content{
    width: 75%;
    padding-top: 50px;
    display: block;
    margin: auto;
}

.logo {
    height: 30px;
    margin-right: 25px;
    display: block;
    float: left;
    margin-bottom: -22px;
    border-radius: 5px;
}

.logo:hover {
       opacity: 0.3;
}

a:hover {
    opacity: 0.3;
}

.links{
    float: left;
    display: flex;
    margin-right: 40px;
}

.links:hover {
        opacity: 0.3;
}

h4 {
    margin-right: 25px;
}

.intro{
    padding-bottom: 8px;
}

#map {
    padding-top: 8px;
    color: #d0b6a4;
}

.projectUpdate{
    width: 50%;
}
